################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ColnaghiMarketingTools/FileContentIndex/7f630a68-96db-41dd-a762-f0eaaf48c5bb.vsidx
